<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cat & Dog Classifier</title>
</head>
<body>
    <h1>猫・犬 種類判定</h1>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">判定</button>
    </form>

    {% if image_path %}
        <h3>アップロード画像</h3>
        <img src="{{ image_path }}" width="300">
    {% endif %}

    {% if pred_class %}
        <h2>予測結果：{{ pred_class }}</h2>
        {% if description %}
            <p>{{ description }}</p>
    {% endif %}
</body>
</html>